body {
    font-family: "Roboto", sans-serif;
    padding: 1rem 2vw;
    border: solid;
    border-color: black;
    border-width: .3in;
    border-radius: 2%;

}

/* Header stuff here*/
header {
    
}


/* Nav stuff here */
nav {
    
}

/* Gets rid of bullet points in nav */
nav>ul {
    display: flex;
    height: 48px;
    list-style-type: none;
    
    
}

nav>ul>li {
    
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    padding: .8cm;
}

nav>ul>li>a:hover {
    background-color: rgb(146, 255, 255);

}

/* Main stuff here */
main {
    
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 200;
    font-size: 1.7rem;
}

p {
    margin: 0 0 .3rem 0;
    font-size: 1.1rem;
}

dl {
    
}

dl>dt {
    color: blue;
}

div.home {
    float: right;
}

div.home img {
    width: 100%;
    height: auto;
}

div.pictures {
    display: flex;
    flex-wrap: wrap;
}

.giveaway fieldset {
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.giveaway legend {
    color: #000;
}

.giveaway label {
    margin: .5rem;
}

.giveaway label, .giveaway textarea, .giveaway select, .giveaway [type=text]
, .giveaway [type=email], .giveaway [type=tel] {
    display: block;
}

.giveaway textarea, .giveaway select, .giveaway [type=text]
, .giveaway [type=email], .giveaway [type=tel] {
    border: solid 1px #000;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
}

.giveaway textarea {
    height: 6rem;
}

.giveaway textarea, .giveaway [type=text], .giveaway [type=email]
, .giveaway [type=tel] {
    background-color: rgba(0, 50, 80, .15);
    color: #000;
}

.giveaway [type=submit] {
    background-color: #373737;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem 0 1rem 1vw;
}






/* Footer stuff here */
footer {
    border-top: solid #000 1px;
    text-align: center;
    color: #000;
    padding: 1rem 0;
    clear: both;
}

footer>ol, footer>ul {
    list-style-type: none;
}

footer>ol>li {
    
}

footer>p {
    
}




