body {
    font-family: "Roboto", sans-serif;
    padding: 1rem 2vw;
    border: solid;
    border-color: black;
    border-width: .3in;
    border-radius: 2%;

}

header {
    
}

nav {
    
}

/* Gets rid of bullet points in nav */
nav>ul {
    display: flex;
    height: 48px;
    list-style-type: none;
    
    
}

nav>ul>li {
   
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    padding: .8cm;
}

nav>ul>li>a:hover {
    background-color: rgb(146, 255, 255);

}

main {
    
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 200;
    font-size: 1.7rem;
}

p {
    margin: 0 0 .3rem 0;
    font-size: 1.1rem;
}

dl {
    background-color: gray;
}

dl>dt {
    color: blue;
}



